:root {
    --bg-principal: #1D1D1D;
    --bg-secundario: #2E2E2E;
    --cor-azul: #2563eb;
    --texto-padrao: #ffffff;
}

body {
    background-color: var(--bg-principal);
    color: var(--texto-padrao);
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    color: var(--texto-padrao);
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    color: #f5f5f5;
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

a {
    color: var(--cor-azul);
    transition: 0.3s;
}

p {
    text-align: justify;
}

a:hover {
    text-decoration: underline;
}

#statusEnvio {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}